:root {
    --title-font: 'Bebas Neue', sans-serif;
    /*Use Bebasm, but if not available then use sans-serif*/
    --ah-body-font: 'Fira Sans', sans-serif;
    --ah-body-font: 'Roboto', sans-serif;
    --ah-primary-color: #eef0f1;
    --ah-secondary-color: #ffffff;
    --ah-dark-color: #212121;
    --ah-body-color: #ffffff;
    --ah-font-size: 1.2rem;
    --ah-font-weight: 400;
    --ah-line-height: 1.5;
}


.mySocialIcons {
    width: 5rem;
    height: 5rem;
}

/* ------ELEMENT OVERRIDES------ */
h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    font-family: var(--title-font);
}

.myNav {
    background-color: #004aad;
    font-size: 1.5rem;
    
}

.myNavContainer {
    margin-left: 0rem;
    
}

.myLogoNav {
  
    height: 119rem;
    width: 119rem;

}

p {
    font-weight: bolder;
}

.contactFormDiv {
    background-color: #cfcdc8;

}

.myFooter {
    background-color: #004aad;
    color: #ffffff;
}


body {
    font-family: var(--ah-body-font);
    font-size: var(--ah-font-size);
    font-weight: var(--ah-font-weight);
    line-height: var(--ah-line-height);
    color: var(--ah-dark-color);
    background-color: var(--ah-body-color);
    --webkit-test-size-adjust: 100;
}


/* Breakpoints
2560x500
1200x400
992x300
576x200
375x150

*/
/* styling the main title */

.mainHeader {
    /* padding-top: calc(2em + 74px); */
    margin-top: 9rem;
    background-image: url(/img/blue_banner_576.jpg);
    height: 274px;
    /*200 pixels high plus padding */
    background-repeat: no-repeat;
    background-position: left 0px top 0px;
}

.mainTitle {
    margin-top: 2rem;
    font-family: var(--title-font);
    font-size: 2rem;
    height: 3rem;
    line-height: 11rem;
    font-weight: 300;
    letter-spacing: .09rem;
}

/* subtitle styline */
.subTitle {
    padding-top: 2rem;
    font-family: var(--subtitle-font);
    font-size: .6rem;
    line-height: 1rem;
    font-weight: 100;
    letter-spacing: .09rem;
}

.socialMed{

    padding-top: 2rem;
    letter-spacing: .5rem;
    
}

/* sizing the logo for the header */
.mainLogo {
    height: 2.5em;
}


/* -----project card styles----------- */
.projectCard {
    width: 18rem;
}







.section-page {
    height: 100%;
    padding-top: 5rem;
    /*DOUBLE CHECK VALUE ************************************************************************************************************** */
    padding-bottom: 1rem;
    /*DOUBLE CHECK VALUE ************************************************************************************************************** */
}

/* MEDIA QUERIES */

/* small devices (landscape phones 576px and up) */
@media (min-width: 575.98px) {

    .mainHeader {
        background-image: url(/img/blue_banner_768.jpg);
        height: 274px;
    }

}

/* 767 and up */
@media (min-width: 767.98px) {
    .mainHeader {
        background-image: url(/img/blue_banner_992.jpg);
        height: 374px;
    }

    /* styling the main title */
    .mainTitle {
        font-size: 4.5rem;
        line-height: 3.5rem;
    }

    /* sizing the logo for the header */
    .mainLogo {
        height: .6em;
    }

    .subTitle {
        font-size: 1.2rem;
        line-height: 1rem;
        font-weight: 100;
        letter-spacing: .1rem;
    }
}

/* 991 and up */
@media (min-width: 991.98px) {
    .mainHeader {
        background-image: url(/img/blue_banner_1200.jpg);
        height: 474px;
    }
}

@media (min-width: 1199.98px) {

    /* 1199 and up */
    .mainHeader {
        background-image: url(/img/blue_banner_2560.jpg);
        height: 574px;
    }

    /* styling the main title */
    .mainTitle {

        font-size: 6rem;
        line-height: 5rem;
    }

    /* sizing the logo for the header */
    .mainLogo {
        height: .6em;
    }

    .subTitle {
        font-size: 1.7rem;
        line-height: 1rem;
        font-weight: 100;
        letter-spacing: .1rem;
    }
}

/* 1399 and up */
@media (min-width: 1399.98px) {
    .mainHeader {
        background-image: url(/img/blue_banner_2560.jpg);
        height: 574px;
    }
}